@font-face {
    font-family: poem;
    src: url(./poem.ttf);
}
.poem{
    font-family: poem, KaiTi;
}
.now_char{
    color:rgb(220, 0, 0);
    background-color: #e5e5e575;
}
::-webkit-scrollbar {
    overflow-x:hidden;
}