{% from 'macros.html' import render_nav_item ,render_messages%}
<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    {{ moment.include_moment(no_js=true) }}
    {{ moment.locale('zh-cn') }}
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/js-xss/0.3.3/xss.min.js"></script>
    <style type="text/css">
        img {
            max-width: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="ui fixed borderless menu" style="height: 50px;">
        <div class="ui container">
            <a class="header item" href="{{url_for("main")}}">
                诗词（）谜
            </a>
            {{ render_nav_item('main', '<i class="home icon"> </i> 主页') }}
            <div class="right menu">
                {% if current_user.is_authenticated %}
                {{ render_nav_item('logout', '登出') }}
                {% else %}
                {{ render_nav_item('register', '注册') }}
                {{ render_nav_item('login', '登入') }}
                {% endif %}
            </div>
        </div>
    </div>
    {% block nakebody %}{% endblock %}
    {% if not nake %}
    <div class="ui container" style="margin-top: 55px; ">
        {{ render_messages() }}
        {% block body %}{% endblock %}
    </div>
    {% else %}
    {{ render_messages() }}
    {% endif %}
</body>

</html>