{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block body %}
<div class="ui two column grid">
    <div class="two column row">
        <div class="ten wide column">
            <div class="ui raised center aligned segment">
                <h3>题面：</h3>
                <h2 class="ui center algined header">
                    <p id="problem" class="poem" style="font-size: 40px;">
                        苟利<span class="now_char" style="font-size:42px;">国</span>家生死以，岂因祸福避趋之？
                    </p>
                </h2>
                <p class="ui right floated" style="font-size: 20px;font-family:Kaiti;">
                    <span id="title">《赴戍登程口占示家人》</span>
                    ——
                    <span id="author">林则徐</span>
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui form">
                    <h3>在此输入您的诗句</h3>
                    <div class="field">
                        <textarea rows="4" id="answer" class="poem" style="font-size: 24px;"></textarea>
                    </div>
                    <button class="ui primary button" id="submit">提交</button>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui raised segment"  style="height: 470px;overflow: auto;" >
                <div class="ui feed" id="history">
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <img src="https://cdn.luogu.com.cn/upload/usericon/128235.png">
                        </div>
                        <div class="content">
                            <div class="summary">
                                <a class="user">le0n</a> 进行了回答
                                <div class="date">1 小时前 </div>
                            </div>
                            <div class="extra text">
                                <p class="poem" style="font-size: 24px;">
                                    苟利<span class="now_char" style="font-size:26px;">国</span>家生死以，岂因祸福避趋之？
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}