{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block body %}
<script src="{{url_for('static', filename='index.js')}}"></script>
<div class="ui two column grid">
    <div class="two column row">
        <div class="ten wide column">
            <div class="ui raised center aligned segment" id="problem_segment">
                <h3 id="problem_head">题面：</h3>
                <h2 class="ui center algined header">
                    <p id="problem" class="poem" style="font-size: 40px;">
                        加载中...
                    </p>
                </h2>
                <p class="ui right floated" style="font-size: 20px;font-family:Kaiti;">
                    <span id="title"></span>
                    ——
                    <span id="author"></span>
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui form">
                    <h3>在此输入您的诗句</h3>
                    <div class="field">
                        <div class="ui input">
                            <textarea rows="4" id="answer" class="poem" style="font-size: 24px;"></textarea>
                        </div>
                    </div>
                    <button class="ui primary button" id="submit">提交</button>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui raised segment" style="height: 470px;overflow: auto;">
                <div class="ui feed" id="history">
                </div>
                <div class="ui center aligned grid">
                    <div class="column">
                        <button class="fluid ui button" id="load_more">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body%}