{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block body %}
<script src="{{url_for('static', filename='index.js')+'?v={}'.format(v)}}"></script>
<div class="ui two column grid">
    <div class="two column row">
        <div class="ten wide column">
            <div class="ui raised center aligned segment" id="problem_segment">
                <h3 id="problem_head">题面：</h3>
                <h2 class="ui center algined header">
                    <p id="problem" class="poem" style="font-size: 40px;">
                        加载中...
                    </p>
                </h2>
                <p class="ui right floated" style="font-size: 20px;font-family:Kaiti;">
                    <span id="title"></span>
                    ——
                    <span id="author"></span>
                </p>
            </div>
            <div class="ui container segment">
                <div class="ui form">
                    <h3>在此输入您的诗句</h3>
                    <div class="field">
                        <div class="ui input">
                            <textarea rows="4" id="answer" class="poem" style="font-size: 24px;"></textarea>
                        </div>
                    </div>
                    <button class="ui primary button" id="submit">提交</button>
                    {% if current_user.is_authenticated %}
                    <button class="ui right floated button" id="skip">
                        {% if not current_user.admin %}
                            <i class="coins icon"></i> × <span id="coin_num"></span>/50
                        {% endif %}
                        下一题
                    </button>
                    {% endif %}
                    <button class="ui right floated button" id="hint">说明</button>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="ui tabular menu" style="margin-bottom: unset;">
                <div class="item" data-tab="history">历史</div>
                <div class="item" data-tab="talk">聊天</div>
                <div class="item" data-tab="rank">排行榜</div>
                <div class="item" data-tab="online">在线用户</div>
            </div>
            <div class="ui tab" data-tab="history" >
                <div class="ui raised segment" style="height: 420px;overflow: auto;">
                    <div class="ui feed" id="history">
                    </div>
                    <div class="ui center aligned grid">
                        <div class="column">
                            <button class="fluid ui button" id="load_more">查看更多</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="talk">
                <div class="ui raised segment">
                    <div class="ui raised segment" style="height: 300px;overflow: auto;">
                        <div class="ui feed" id="talk">
                        </div>
                    </div>
                    {% if current_user.is_authenticated %}
                    <div class="ui form">
                        <div class="field">
                            <div class="ui input">
                                <input type="text" id="talk_input">
                            </div>
                        </div>
                        <button class="ui primary button" id="talk_submit">发送</button>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="ui tab" data-tab="rank">
                <div class="ui raised segment" style="height: 420px;overflow: auto;">
                    <div class="ui list" id="rank">
                    </div>
                </div>
            </div>
            <div class="ui tab" data-tab="online">
                <div class="ui raised segment" style="height: 420px;overflow: auto;">
                    <div class="ui list" id="online">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal">
    <div class="header">提示</div>
    <i class="close icon"></i>
    <div class="content">
        <p>首先，欢迎您来到这个小游戏《古诗（）谜》</p>
        <p>这个游戏由 <a href="mailto:songhongyishy@gmail.com">songhongyi</a> 编写，按照 MIT 协议在 Github <a href="https://github.com/william-song-shy/poem-snake">开源</a></p>
        <p>如果您有什么建议，欢迎您在 Github 上提交 issue，或者向我发送邮件，我会尽快处理。</p>
        <p>同时也欢迎您加入 QQ 群，<a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=b8PrxbSeI5F4LK0gi0inRl6RVUdCL219&jump_from=webapi"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="古诗（）谜讨论群" title="古诗（）谜讨论群"></a></p>
        <p><a href="https://www.luogu.com.cn/paste/iz42nphu">这里</a>有游戏介绍和玩法说明</p>
    </div>
</div>
{% endblock body%}